// Add any custom Sass & CSS here
.main {
    padding: 20px 0px;
    text-align: left;
    margin: $navtotalheight auto;
}

// FontAwesome styles for common interests/ratings
.fa {
    padding-right: 5px;
}
.interest {
    color: $darkgreen;
}
.star{
    color: $navyA8;
}

.extraInfo {
   padding-left: 5px ;
}

.wideSelectBox {
    width: 80%;
}

.filters {
    background: $lightgreen;
    text-align: center;
    padding: 20px 10px;
}

.numInput {
    margin: 10px auto;
    width: 170px;
    .input-group-label {
        width: 110px;
    }
}

.result {
    margin-bottom: 70px;
    .left {
        text-align: center;
    }
    .right {
        text-align: left;
    }
}

.narrowSelect {
    width: 50px;
}

.searchBox {
    margin-bottom: 50px;
    #from,
    #to,
    #date {
        text-align: left;
    }
    .searchButtonWrap {
        box-sizing: border-box;
        button {
            width: 100%;
            display: block;
        }
    }
}

.userImage {
    @include border-radius(100px);
}

label,
input {
    @include search-text();
}

body {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1rem;
}

select {
    width: 170px;
}

span.nav {
    display: inline;
    color: $genreBG;
    margin: 10px;
}

.top-bar {
    background-color: #00897B;
    color: #ffffff;
    *,
    a {
        // background-color: #00897B;
        color: #ffffff;
    }
    // a:hover{
    //  color: $blue;
    // }
}

.notif {
    font-size: 150%;
    .left {
        float: left;
        color: black;
        margin-left: 10px;
        text-align: center;
        font-weight: bold;
    }
    .right {
        text-align: left;
        float: right;
        height: 100%;
        color: black;
        margin-right: 10px;
        font-weight: bold;
    }
    .menu {
        position: relative;
        display: inline-block;
    }
    .drop {
        float: right;
        text-align: center;
        padding: 6px;
    }
    .dropContent {
        text-align: center;
        display: none;
        position: absolute;
        top: 35px;
        min-width: 132px;
        background-color: #475c65;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        a {
            font-size: 80%;
        }
    }
    .menu:hover .dropContent {
        display: block;
    }
    .menu:hover .drop {
        color: white;
        background-color: #429669;
    }
    .icon {
        height: 33px;
        width: 30px;
    }
    .request {
        margin-top: 30px;
        text-align: left;
        text-decoration: underline;
    }
    .card {
        font-family: Ubuntu;
        text-align: left;
        position: relative;
        height: 200px;
        margin-top: 20px;
        background-color: #EBEBEB;
        overflow: hidden;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        border-left-style: solid;
        border-left-color: #32a095;
        border-left-width: thick;
        /* CSS talk bubble */
.talk-bubble {
  font-family: Ubuntu;
  margin: 10px 0 0 25px ;
  padding: 5px 5px 2px 2px;
  display: inline-block;
  position: relative;
	max-width: 50%;
  width: auto;
	height: auto;
  vertical-align: middle;
  border-style:solid;
  border-width:medium;
	border-color: #46A99F;
}
.round{
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

/* Right triangle, right side slightly down*/
.tri-left.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -21px;
	right: #666 transparent transparent #666;
}
.tri-left.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -21px;
	right: auto;
  top: 5px;
	bottom: auto;
	border: 9px solid;
	border-color: #32a095  #32a095 transparent transparent ;
}


/* talk bubble contents */
.talktext{
  font-size: 80%;
  padding: 1px;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

        .rep{
          position: absolute;
          bottom: 0;
        }
        .input[type=text]{
            margin-left: 40px;
            width: 100%;
            border: 3px solid black;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .send {
            position: absolute;
            bottom: 0;
            right:0;
            font-weight:bold;
            font-size: 80%;
            color: #32a095;
            margin-bottom: 20px;
            z-index: 1;
        }
        .send:hover {
            color: black;
        }

        p {
            margin-left: 2px;
        }
        .actionleft {
            background-image: url(../data/images/check.png);
            background-size: contain;
            height: 30px;
            width: 30px;
            position: absolute;
            // left: 60px;
            right: 120px;
            bottom: 20px;
        }
        .actionright {
            background-image: url(../data/images/ehhh.png);
            background-size: contain;
            height: 30px;
            width: 30px;
            position: absolute;
            right: 60px;
            bottom: 20px;
        }
        a {
            color: #ffab40;
            margin-right: 1.3rem;
            transition: color 0.3s ease;
            text-transform: uppercase;
            text-decoration: none;
        }
        .image {
            border-radius: 50px;
            position: absolute;
            left: 55px;
            top: 30px;
            width: 100px;
            height: 100px;
        }
        .friend {
            position: absolute;
            left: 55px;
            bottom: 20px;
            margin: 0 auto;
            width: 100px;
            font-size: .6em;
            a {
                display: block;
                text-align: center;
                width: 100%;
                color: #2D8B59;
            }
        }
    }
    .content {
        text-align: left;
        width: 220px;
        position: absolute;
        top: 30px;
        right: 55px;
        font-size: 20px;
    }
    .inbox {
        margin-bottom: 100px;
        .messages {
            text-align: left;
            text-decoration: underline;
            margin-top: 20px;
        }
        .box {
            margin-top: 20px;
            border-bottom-style: solid;
            border-bottom-color: #2D8B59;
            border-bottom-width: thin;
            position: relative;
            height: 100px;
            .person {
                position: absolute;
                float: left;
                border-radius: 50px;
                width: 70px;
                height: 70px;
            }
            .text {
                float: left;
                position: absolute;

                width: 90%;
                right: 0;
                font-size: 70%;

                &.new-message {
                    color: #9C9C9C;
                    font-style: italic;
                }
            }
        }
    }
}

h1 {
    font-size: 2rem;
    text-align: center;
    line-height: 150%;
}

h2 {
    font-size: 1.5rem;
    line-height: 100%;
}

h3 {
    font-size: 1.1rem;
}

.searchResults {
    max-width: 800px;
    margin: 0px;
    padding: 10px;
}

.result {
    width: 100%;
    img {
        height: 150px;
    }
    a:hover {
        color: $blue;
        img {
            opacity: 0.7;
        }
    }
    .left {
        float: left;
        width: 30%;
    }
    .right {
        text-align: left;
        padding-left: 10px;
        float: right;
        width: 70%;
        min-height: 150px;
    }
}

.drive {
    text-align: left;
    h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
    }
    h2 {
        padding: 10px 0;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }
    select {
        width: 100%;
    }
    .righty {
        padding: 10px 0;
        text-align: right;
    }
    .block {
        border: 1px solid #ddd;
    }
    .reveal {
        label {
            font-weight: bold;
        }
    }
}

.details {
    width: 100%;
    max-width: 700px;
    min-height: 400px;
    margin: auto;
    padding: 20px;
    img {
        max-height: 500px;
    }
    .left {
        margin: 0;
        float: left;
        width: 30%;
    }
    .right {
        text-align: left;
        padding-left: 10px;
        //background-color: #666666;
        margin: 0;
        float: right;
        width: 70%;
    }
}

ul.gallery {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        display: inline;
    }
    img {
        max-width: 180px;
        &:hover {
            opacity: 0.5;
            border-bottom: none;
        }
    }
}

ul.genres {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        background: $lightblue;
        margin: 5px;
        padding: 10px
    }
}

.reverseButton,
{
    color: #00897B;
}

.reverseButton:hover,
.button:hover,
a:hover {
    text-decoration: none;
    color: $lightgreen;
    // font-weight: bold;
}

.reverseButton:focus,
.button:focus,
a:focus {
    text-decoration: none;
}

.reverseButton.big {
    margin-top: 100px;
    font-size: 200%;
}

.profile {
    margin-top: 10px;
    .circular {
        margin: auto;
        width: 250px;
        height: 250px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        background: url(/data/images/Julie.jpg) no-repeat;
        background-size: cover;
    }
    .circular.shadow {
        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    }
    .circular img {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .field {
        font-weight: bold;
    }
    i.fa {
        font-size: 80%;
    }
    span.icon {
    	color: #00897B;
    }
    li {
      list-style-type: none;
    }
}
