.top-bar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    // height: $navheight;
    width: 100%;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    // background-color: $navyA8; set in _settings.scss
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    @include breakpoint(small down) {
        font-size: 0.8rem;
    }
    img {
        height: 30px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        // background-color: $navyA8;
        li {
            vertical-align: middle;
            // float: right;
            // text-decoration: none;
            display: inline-block;
            padding: 10px 20px; //20px between each
            color: $white;
            @include breakpoint(small down) {
                padding: 7px; //10px between each
                letter-spacing: 0px;
            }
            letter-spacing: 1px;
            a,
            a:visited,
            a:active {
                display: inline-block;
                color: $white;
                transition: 0.2s;
                font-weight: bold;
                text-decoration: none;
            }
            a:hover {
                text-decoration: none;
                color: $lightgreen;
                border-bottom: 0px;
                font-weight: bold;
                text-decoration: none;
            }
            .noshowsmall {
                @include breakpoint(small down) {
                    display: none;
                }
            }
            // Website title
        }
    }
    .top-bar-title {
        .ham-icon {
            display: inline-block;
            padding: 10px 0;
        }
        .logo {
            float: left;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 10px 20px;
            font-family: Roboto;
            text-transform: none;
            @include breakpoint(small down) {
                font-size: 1rem
            }
        }
    }
}
