// Insert your variables
$titlecolor		: #000000;
$genreBG		: #C1C1C1;
$detailBG		: #C1C1C1;

$blue			: #6495ED;
$lightblue		: #92d0f9;
$black			: #000000;
$white			: #FFFFFF;
$dodgerblue		: #2199e8;

$navheight		: 40px; // deprecated
$navtotalheight : 80px;




$navy			: rgba(34, 64, 103, 1);
$navyA05		: rgba(34, 64, 103, 0.05);
$navyA075		: rgba(34, 64, 103, 0.075);
$navyA1			: rgba(34, 64, 103, 0.1);
$navyA15		: rgba(34, 64, 103, 0.15);
$navyA2			: rgba(34, 64, 103, 0.2);
$navyA3			: rgba(34, 64, 103, 0.3);
$navyA4			: rgba(34, 64, 103, 0.4);
$navyA5			: rgba(34, 64, 103, 0.5);
// $navyA8			: rgba(34, 64, 103, 0.8);

// Not actually navy. This is the main color
$navyA8         : #00897B;
$lightgreen		: #CCE7E4;
$darkgreen		: #006F63;
$darkergreen	: #00554C;

$red			: rgba(255, 82, 82, 1);
$redA05			: rgba(255, 82, 82, 0.05);
$redA15			: rgba(255, 82, 82, 0.15);
$redA1			: rgba(255, 82, 82, 0.1);
$redA8			: rgba(255, 82, 82, 0.8);

$button-color: 	#00897B;
$button-background-hover: #FFFFFF;