<div ng-controller="driveController" ng-cloak>
  <div class="columns drive">
    <div class="large-6 medium-8 small-12 row">
      <h1>Drive, Simple&nbsp;&nbsp;&nbsp;&nbsp;</h1>
      <strong>
        Split the cost. Save Energy. Never alone on the road.
      </strong>
      <p>
        Post your upcoming trips, choose your price, we'll recommend you to riders that match you the best!
      </p>
    </div>
    <div class="large-6 medium-8 small-12 row">
      <form>
        <hr>
        <h2 class="form-header">Where are you stopping?</h2>
        <div class="row">
          <div class="large-6 columns">
            <label>From
              <input id="fromTextField" type="search" placeholder="Start location">
            </label>
          </div>
          <div class="large-6 columns">
            <label>To
              <input id="toTextField" type="search" placeholder="Destination">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>Stopovers
              <input id="stopTextField" type="search" placeholder="Add city on your route">
            </label>
          </div>
          <div class="large-6 columns">
            <label>&nbsp;
              <p>
                <button type="button" class="button secondary hollow">+</button>
              </p>
            </label>
          </div>
        </div>
        <br>
        <h2 class="form-header">When is your trip?</h2>
        <div class="row">
          <div class="large-6 columns">
            <label>Date</label>
            <input type="date" placeholder="Departure time">
          </div>
          <div class="large-6 columns">
            <label>Time
              <input type="time" placeholder="Departure time">
            </label>
          </div>
        </div>
        <br>
        <h2 class="form-header">Tell us more about your car</h2>
        <div class="row">
          <div class="large-6 columns">
            <label>Select Car</label>
            <div class="row">
              <div class="medium-9 columns">
                <select ng-model="carSelect" ng-options="c.brand + ' ' + c.model for c in cars">
                </select>
              </div>
              <div class="medium-3 columns">
                <button type="button" class="button secondary hollow" data-open="exampleModal1">+</button>
              </div>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="row">
              <div class="medium-6 columns">
                <label>Seats
                  <h-number value="input.num" min="1" max="8" step="1" change="onChanged()"></h-number>
                </label>
              </div>
            </div>
          </div>
        </div>
        <br>
        <h2 class="form-header">Name your price</h2>
        <div class="row">
          <div class="columns">
            <label id="priceLabel">Price</label>
            <div class="row">
              <div class="large-9 columns">
                <div class="slider" id="priceSlider" aria-labelledby="priceLabel" data-slider data-start="0" data-initial-start="50" data-end="100" data-step="1" data-decimal="0">
                  <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput"></span>
                  <span class="slider-fill" data-slider-fill></span>
                </div>
              </div>
              <div class="large-3 columns">
                <div class="input-group">
                  <span class="input-group-label">$</span>
                  <input class="input-group-field" type="number" id="sliderOutput" step="1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          </dir>
          <div class="large-6 columns"></div>
          <div class="large-6 columns clearfix">
            <button type="button" class="large button float-right" data-open="postSuccess">Post Ride!</button>
          </div>
        </div>
      </form>
    </div>
    <div class="reveal small" id="exampleModal1" data-reveal data-close-on-click="true" data-overlay="false">
      <div class="medium-12 columns">
        <h2>Add a New Car</h2>
        <div class="row">
          <div class="medium-6 columns">
            <label>Brand</label>
            <input type="text" ng-model="newBrand">
          </div>
          <div class="medium-6 columns">
            <label>Model</label>
            <input type="text" ng-model="newModel">
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns"></div>
          <div class="medium-6 columns clearfix">
            <button type="button" class="button float-right" ng-click="addCar()" data-close>&nbsp;Add Car&nbsp;</button>
          </div>
        </div>
      </div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="reveal small" id="postSuccess" data-reveal data-close-on-click="true" data-overlay="false">
      <div class="medium-12 columns">
        <h2>Success!</h2>
        <p>Your ride has been posted.</p>
        <div class="row">
          <div class="medium-6 columns">
            <div class="row">
              <div class="medium-6 columns">
                <label>From</label>
                <p>Chicago, IL</p>
              </div>
              <div class="medium-6 columns">
                <label>To</label>
                <p>Champaign, IL</p>
              </div>
            </div>
          </div>
          <div class="medium-6 columns">
            <div class="row">
              <div class="medium-6 columns">
                <label>Date</label>
                <p>Nov. 28, 2016</p>
              </div>
              <div class="medium-6 columns">
                <label>Time</label>
                <p>14:00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <div class="row">
              <div class="medium-6 columns">
                <label>Car Model</label>
                <p>Mini Cooper S</p>
              </div>
              <div class="medium-3 columns">
                <label>Seats</label>
                <p>3</p>
              </div>
              <div class="medium-3 columns">
                <label>Price</label>
                <p>$ 20</p>
              </div>
            </div>
          </div>
          <div class="medium-6 columns clearfix">
            <button type="button" class="button float-right" data-close>&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
          </div>
        </div>
      </div>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
