	<div class="notif" ng-controller="notificationsController">

		 <div class="request">
			 <div class="row">
				 <div class="medium-10 medium-offset-1 columns" class="request">
					 <h2 style="text-align:center; font-size:120%; font-family:Ubuntu; text-transform:uppercase;"> Ride with UPoolers today </h2>
				 </div>
				 <div class="end">

				 </div>
			 </div>
			 <div class="row" ng-repeat="driver in drivers">
				 <div class="medium-5 medium-offset-1 columns">
					 <div class="card">
  						<img class="image" src="./data/images/{{driver.name}}.jpg">
							 <div class="content">
								 <img class="icon" src="./data/images/person.png" alt="" /> {{driver.name}} <br>
								 <img class="icon" src="./data/images/running.png" alt="" />{{driver.to}} <br>
								 <img class="icon" src="./data/images/spotify.png" alt="" />{{driver.genre}}
							 </div>


							 <button class="actionleft" type="button" name="button"></button>
							 <button class="actionright" type="button" name="button"></button>

					 </div>
					 </div>
					 <div class="medium-5 columns">
						 <div class="card">
							 <div class="talk-bubble tri-left round left-in">
								 <div class="talktext">
									 <p>{{driver.message}}</p>
								 </div>
							 </div>
								 <input class="rep" type="text" placeholder="Reply to {{driver.name }}...">	</input>
								 <a class="send" href='#'>SEND</a>
						 </div>

					 </div>
					 <div class="medium-1 columns">
					 </div>
		 </div>
		</div>

		</div>
