<div class="profile" ng-controller="profileController" lang="en">
  <body>
    <div>
      <div class="row small-12 large-6" ng-show="IsInvisible">     
        <div class="columns"> 
          
          <br>

          <div class="circular shadow"></div>

          <!--<h1>Profile</h1>-->

          <label>Name
            <input type="text" placeholder="Name" name ="name" value="Julie"/>
          </label>
   
          <label>Gender</label>
          <input type="radio" name="gender" value="Male" id="Male" required><label for="Male">Male</label>
          <input type="radio" name="gender" value="Female" id="Female" checked="checked"><label for="Female">Female</label>
          
          <br>
          <label>Birthday
            <input type="date" value="1993-12-18"> 
          </label>
     
          <label>About Me
            <textarea type="aboutme">I am a UIUC student studying Computer Science.</textarea>
          </label>    
          <label>Interests
            <textarea type="interest">sports, skate, music, movie</textarea>
          </label>

          <!-- <label>Car Models
            <textarea type="carModels">Toyota Camery - Mini Cooper</textarea>
          </label> -->
          <label>Car Models
            <!-- <select ng-model="carSelect" ng-options="c.brand + ' ' + c.model for c in cars"></select> -->

            <form name="carsF" ng-submit="addCar()">
               <input type="text" name="newCar" ng-model="newCar" required />
               <button ng-disabled="carsF.$invalid" ng-click="addCar()" class="button">Add</button>
            </form>
            <ul>
              <li ng-repeat="car in cars" class="{'fadeOut' : car.done}">
                <span class="fa fa-close" ng-click="deleteCar($index)"></span>
                <span>{{car.title}}</span>
              </li>
            </ul>
            <!-- <li ng-repeat="car in cars">
              <li ng-show="{{car.vi}}">
                &nbsp;
                <span>{{car.model}}</span>
                <span onClick="alert('test')">x</span>
                <span ng-click="deleteCar($index)"><a class="fa fa-times-circle reverseButton" aria-hidden="true"></a></span>
              </li>
            </li> -->
            <!-- <li ng-show="Car0IsVisible">
              &nbsp;
              <span>Toyota Camery</span>
              <!-- <span onClick="alert('test')">x</span>
              <span ng-click="Car0ModelShowHide()"><a class="fa fa-times-circle reverseButton" aria-hidden="true"></a></span>
            </li>
            <li ng-show="Car1IsVisible">
              &nbsp;
              <span>Mini Cooper</span>
              <span ng-click="Car1ModelShowHide()"><a class="fa fa-times-circle reverseButton" aria-hidden="true"></a></span>
            </li>
            <li>
              <input type="text" placeholder="Name" name ="name" value="Julie"/>
            </li> -->

          </label>
          <br>
          <ul class="menu center">
            <li><a class="button" ng-click="UpdateShowHide()">Update Profile</a></li>
            <li><a class="reverseButton" ng-click="UpdateShowHide()" id="cancel">Cancel</a></li>
          </ul>
          <br>
          <ul class="menu">
            <li><span class="footer-item">Connect With</span></li>
            <li><a ng-click="myStyle1={color:'black'}" data-open="connectSuccess">
              <span ng-style="myStyle1" class="icon fi-social-twitter"></span></a></li>
            <li><a ng-click="myStyle2={color:'black'}" data-open="connectSuccess">
              <span ng-style="myStyle2" class="icon fi-social-facebook"></span></a></li>
            <li><a ng-click="myStyle3={color:'black'}" data-open="connectSuccess">
              <span ng-style="myStyle3" class="icon fi-social-youtube"></span></a></li>
            <li><a ng-click="myStyle4={color:'black'}" data-open="connectSuccess">
              <span ng-style="myStyle4" class="icon fi-social-instagram"></span></a></li>
            <li><a ng-click="myStyle5={color:'black'}" data-open="connectSuccess">
              <span ng-style="myStyle5" class="icon fi-social-pinterest"></span></a></li>
            <li><a ng-click="myStyle6={color:'black'};loginSpotify()">
              <span ng-style="myStyle6"><span class="icon fi-social-spotify"></span></a></li>
          </ul>

        </div>

      </div>
      <div class="profile display" ng-show="IsVisible">     
        <div class="small-5 columns">
          <br>
          <div class="circular shadow"></div>
        </div>
        <div class="small-7 columns">
          <h2 class="profile">Julie&nbsp&nbsp
            <i class="fa fa-pencil-square-o reverseButton" ng-click="EditShowHide()" aria-hidden="true"></i>
          </h2>
          <br>
          <p class="field">Gender</p><p> Female</p>
          <p class="field">Birthday</p><p>12/18/1993</p>
          </p>
          <p class="field">About Me</p></p>I am a UIUC student studying Computer Science.</p>

          <p class="field">Interests</p><p>sports, skate, music, movie</p>
          <p class="field">Car Model</p><p>Toyota Camry - Mini Cooper</p>
          <ul class="menu">
            <li><span class="footer-item field">Connect With</span></li>
            <li><a ng-click="myStyle1={color:'black'}" data-open="connectSuccess">
              <span ng-style="myStyle1" class="icon fi-social-twitter"></span></a></li>
            <li><a ng-click="myStyle2={color:'black'}" data-open="connectSuccess">
              <span ng-style="myStyle2" class="icon fi-social-facebook"></span></a></li>
            <li><a ng-click="myStyle3={color:'black'}" data-open="connectSuccess">
              <span ng-style="myStyle3" class="icon fi-social-youtube"></span></a></li>
            <li><a ng-click="myStyle4={color:'black'}" data-open="connectSuccess">
              <span ng-style="myStyle4" class="icon fi-social-instagram"></span></a></li>
            <li><a ng-click="myStyle5={color:'black'}" data-open="connectSuccess">
              <span ng-style="myStyle5" class="icon fi-social-pinterest"></span></a></li>
            <li><a ng-click="myStyle6={color:'black'};loginSpotify()">
              <span ng-style="myStyle6"><span class="icon fi-social-spotify"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="reveal small" id="connectSuccess" data-reveal data-close-on-click="true" data-overlay="false">
        <div class="small-12 columns">
            <h2>Awesome!</h2>
            <p>Connected successfully.</p>
            <div class="row">
                <div class="medium-6 columns"></div>
                <div class="medium-6 columns clearfix">
                    <button type="button" class="button float-right" ng-click="addCar()" data-close>&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>





    </div>
  </body>
</div>




