<div ng-controller="rideController">
    <div id="main">
        <div class="searchBox">
            <form>
                <div class="expanded row">
                    <div class="small-12 medium-6 large-4 columns">
                        <label for="from"> From </label>
                        <input id="from" ng-model="userInput.from" type="text" placeholder="City" required>
                    </div>
                    <div class="small-12 medium-6 large-4 columns">
                        <label for="to"> To </label>
                        <input id="to" ng-model="userInput.to" type="text" placeholder="City" required>
                    </div>
                    <div class="small-12 medium-6 large-3 columns">
                        <label for="date"> Date </label>
                        <input id="date" ng-model="userInput.date" type="date" placeholder="Date" required>
                    </div>
                    <div class="small-12 medium-6 large-1 columns text-center">
                        <label for="searchButton"> &nbsp;&nbsp; </label>
                        <div class="searchButtonWrap">
                            <button ng-click="search()" class="button" id="searchButton">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="expanded row small-12 text-center">
            <div class="columns small-0 medium-4">
                &nbsp;
            </div>
            <div class="columns small-12 medium-4">
                <h1>Available Drivers</h1>
            </div>
            <div class="columns small-12 medium-4">
                <label>
                    Sort By:
                    <select data-ng-options="o.name for o in sortOptions" data-ng-model="sortOption"></select>
                </label>
            </div>
        </div>

        <br>
        <br>
        <div class="expanded row small-12">
            <div class="columns small-3 filters left" id="filterColumn">
                <h1>Filters</h1>
                <br>
                <!-- Price slider / range -->
                <label>Price: ${{ minPrice }}-{{ maxPrice }}</label>
                <br>
                <input type="hidden" id="sliderLower">
                <div class="slider" id="priceSlider" data-slider data-start="1" data-initial-start="25" data-initial-end="75" data-end="100" data-step="1" data-decimal="0">
                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderLower"></span>
                    <span class="slider-fill" data-slider-fill></span>
                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderUpper"></span>
                </div>
                <input type="hidden" id="sliderUpper">
                <br>
                <!-- Num passengers -->
                <label>Passengers
                    <h-number id="numPassengers" value="numPassengers" min="1" max="8" step="1"></h-number>
                </label>
                <!-- Num bags -->
                <label>Carry-On Bags
                    <h-number value="numBags" min="0" max="10" step="1"></h-number>
                </label>
                <!-- Departure time slider -->
                <label>Departure time:
                    <br> {{userFilters.earliestTime.displayHour}}:{{userFilters.earliestTime.displayMinute}} {{userFilters.earliestTime.am_pm}} - {{userFilters.latestTime.displayHour}}:{{userFilters.latestTime.displayMinute}} {{userFilters.latestTime.am_pm}}</label>
                <br>
                <input type="hidden" id="timeSliderLower">
                <div class="slider" id="timeSlider" data-slider data-start="0" data-initial-start="6" data-initial-end="18" data-end="23.99" data-step="1" data-decimal="2">
                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="timeSliderLower"></span>
                    <span class="slider-fill" data-slider-fill></span>
                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="timeSliderUpper"></span>
                </div>
                <input type="hidden" id="timeSliderUpper">

                <label> Preferred Music Genre(s):</label>
                <br>
                <select multiple data-ng-options="o.name for o in musicOptions" data-ng-model="selectedMusicOptions" class="wideSelectBox">
                </select>
                <br>
                <label>Preferred Car(s):</label>
                <br>
                <select multiple data-ng-options="o.name for o in carOptions" data-ng-model="selectedCarOptions" class="wideSelectBox">
                </select>
                <br>
                <!-- Change results based on filters -->
                <!-- <button ng-click="applyFilters()" class="button">
                    Apply Filters
                </button> -->
            </div>
            <div class="columns small-9">
                <div class="row small-12 result" ng-repeat="driver in drivers | filter:searchFilter | filter:{to:userInput.to, from:userInput.from} | orderBy:sortOption.id">
                    <div class="columns small-5 left">
                        <h2>{{ driver.name }}, {{ driver.age }}</h2>
                        <br>
                        <img class="userImage" ng-src="./data/images/{{driver.name}}.jpg " />
                    </div>
                    <div class="columns small-5">
                        <i class="fa fa-{{ driver.interest.one }} interest" aria-hidden="true"></i>
                        <i class="fa fa-{{ driver.interest.two }} interest" aria-hidden="true"></i>
                        <i class="fa fa-{{ driver.interest.three }} interest" aria-hidden="true"></i>
                        <br>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <i class="fa fa-star star" aria-hidden="true"></i>
                        <br>
                        From <b>{{ driver.from }}</b> to <b>{{ driver.to }}</b>
                        <br> ${{ driver.price }}
                        <br> {{ driver.date.dow }}, {{ driver.date.month }} {{ driver.date.day }}, {{ driver.date.year }}
                        <br> Departing at {{driver.time.displayHour}}:{{driver.time.displayMinute}} {{driver.time.am_pm}}&nbsp;&nbsp;
                        <br>
                        <i ng-show="IsVisible" class="fa fa-chevron-right reverseButton" ng-click="IsInvisible = !IsInvisible; IsVisible = !IsVisible" aria-hidden="true"></i>
                        <i ng-show="IsInvisible" class="fa fa-chevron-down reverseButton" ng-click="IsInvisible = !IsInvisible; IsVisible = !IsVisible" aria-hidden="true"></i>
                        <div class="extraInfo" ng-show="IsInvisible">
                            <b>About Me</b><br>
                            &nbsp;{{ driver.bio }}
                            <br><br>
                            <b>Reviews</b>
                            <br>
                            <div ng-repeat="review in driver.reviews">
                                &nbsp;<i ng-repeat="i in review.rating" class="fa fa-star star" aria-hidden="true"></i>
                                <br>&nbsp;&nbsp;"{{ review.comment }}"<br>
                            </div>
                        </div>
                    </div>
                    <div class="columns small-3">
                        <a href="#/notifications"><i class="fa fa-envelope-o reverseButton big" aria-hidden="true"></i></a>&nbsp;&nbsp;
                        <i class="fa fa-check reverseButton big" data-open="requestSuccess" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="reveal small" id="requestSuccess" data-reveal data-close-on-click="true" data-overlay="false">
            <div class="small-12 columns">
                <h2>Awesome!</h2>
                <p>Your request has been sent successfully. Please wait for the driver to confirm about the ride. Keep in touch in the <a href="#/notifications">message box</a>.</p>
                <div class="row">
                    <div class="medium-6 columns"></div>
                    <div class="medium-6 columns clearfix">
                        <button type="button" class="button float-right" ng-click="addCar()" data-close>&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
